<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
	<link rel="manifest" href="../../favicon_io/site.webmanifest">
	<link rel="stylesheet" href="../../css/navbar.css">
	<link rel="stylesheet" href="../../css/sidebar.css">
	<link rel="stylesheet" href="../../css/docs-page.css">
	<link rel="stylesheet" href="../../css/boilerplate.css">
	<link rel="stylesheet" href="./input.css">
	<title>Input - moment ui</title>
</head>

<body>
	<div class="container">
		<header class="nav">
			<div class="nav-left">
				<span class="material-icons sidebar-menu-icon">menu</span>
				<a href="/index.html">
					<span class="brand">
						<span class="brand-title">moment ui</span>
					</span>
				</a>
			</div>
			<div class="nav-right">
				<a href="../../get-started/quick-start.html"><span class="nav-link">Docs</span></a>
				<a href="https://github.com/AbhishekkGautam/moment-ui">
					<img src="../../assets/github-icon.svg" class="nav-icon"></img>
				</a>
			</div>
		</header>
		<div class="doc-page-container">
			<aside class="sidebar" id="sidebar">
				<div class="">
					<span class="sidebar-close-icon material-icons">close</span>
					<h4 class="sidebar-category">Get Started</h4>
					<ul class="sidebar-subcategory" role="list">
						<li>
							<a id="sidebar-links" href="/get-started/quick-start.html">Quick Start</a>
						</li>
					</ul>
				</div>
				<div class="">
					<h4 class="sidebar-category">Components</h4>
					<ul class="sidebar-subcategory" role="list">
						<li>
							<a id="sidebar-links" href="/components/Alert/alert.html">Alert</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Avatar/avatar.html">Avatar</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Badge/badge.html">Badge</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Button/button.html">Button</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Card/card.html">Card</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Grid/grid.html">Grid</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Image/image.html">Image</a>
						</li>
						<li>
							<a class="active" id="sidebar-links" href="/components/Input/input.html">Input</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/List/list.html">List</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Modal/modal.html">Modal</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Navigation/navigation.html">Navigation</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Rating/rating.html">Rating</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Slider/slider.html">Slider</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Toast/toast.html">Toast</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Utilities/utilities.html">Utilities</a>
						</li>
					</ul>
				</div>
			</aside>
			<div class="doc-content">
				<h1 class="content-title">Input</h1>
				<p class="content-description">Inputs are used for user interaction such as taking data from user & then
					provide the results back to user accordingly.
				</p>
				<div class="divider"></div>
				<h2 class="content-category">Standard Inputs</h2>
				<p class="content-category-description"> Standard inputs have a label, input field and type for
					different use cases.
				</p>
				<div class="example-container">
					<div class="input-group">
						<label class="input-label">Username</label>
						<input type="text" class="input-field" required>
					</div>
					<div class="input-group">
						<label class="input-label">Password</label>
						<input type="password" class="input-field" required>
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/KPOtmZQH9MV9t4TKY0Hp"
						style="width: 100%; height: 260px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Input with Error Style</h2>
				<p class="content-category-description">This input comes with error style and error message. Add <span
						class="content-highlight">input-show-error</span> class and a error message to
					apply the error style
				</p>
				<div class="example-container">
					<div class="input-group input-show-error">
						<label class="input-label">Password</label>
						<input type="password" class="input-field" required>
						<div class="error-message">Wrong Password. Try again.</div>
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/5gZuzfbKUZm8wBQIRNIy"
						style="width: 100%; height: 186px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Textarea</h2>
				<p class="content-category-description">Textarea is used to take long form of content data from the user
					such as message, address, reviews etc.
				</p>
				<div class="example-container">
					<div class="input-group">
						<label class="input-label">Message</label>
						<textarea class="text-area" rows="5" placeholder="write something..."></textarea>
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/KRZcAUdnGoeeokaJOxBA"
						style="width: 100%; height: 167px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Radio Button</h2>
				<p class="content-category-description">Radio button is used to select one option from a set of options.
				</p>
				<div class="example-container">
					<div class="radio-group">
						<label class="radio-label" for="radio1">
							<input class="radio-btn" id="radio1" type="radio" name="radio">
							Option
						</label>
					</div>
					<div class="radio-group">
						<label class="radio-label" for="radio2">
							<input class="radio-btn" id="radio2" type="radio" name="radio" checked>
							Default Checked
						</label>
					</div>
					<div class="radio-group radio-disabled">
						<label class="radio-label" for="radio3">
							<input class="radio-btn" id="radio3" type="radio" name="radio" disabled>
							Disabled
						</label>
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/1jOoOy9YYOK3YqFlOqje"
						style="width: 100%; height: 446px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Checkbox</h2>
				<p class="content-category-description">Checkbox is used to select one or multiple options from a set of
					options.
				</p>
				<div class="example-container">
					<div class="checkbox-group">
						<label class="checkbox-label" for="checkbox1">
							<input class="checkbox" id="checkbox1" type="checkbox" name="checkbox">
							Option
						</label>
					</div>
					<div class="checkbox-group">
						<label class="checkbox-label" for="checkbox2">
							<input class="radio-btn" id="checkbox2" type="checkbox" name="checkbox" checked>
							Default Checked
						</label>
					</div>
					<div class="checkbox-group checkbox-disabled">
						<label class="checkbox-label" for="checkbox3">
							<input class="checkbox" id="checkbox3" type="checkbox" name="checkbox" disabled>
							Disabled
						</label>
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/5ZBZ6fwTnFK74bUAGIBj"
						style="width: 100%; height: 446px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<div class="back-btn-container">
					<div class="left">
						<a href="/components/Image/image.html">
							<span class="material-icons">chevron_left</span>
							Image
						</a>
					</div>
					<div class="right">
						<a href="/components/List/list.html">
							List
							<span class="material-icons">chevron_right</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../javascript/sidebar.js"></script>
</body>

</html>