<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
	<link rel="manifest" href="../../favicon_io/site.webmanifest">
	<link rel="stylesheet" href="../../css/navbar.css">
	<link rel="stylesheet" href="../../css/sidebar.css">
	<link rel="stylesheet" href="../../css/docs-page.css">
	<link rel="stylesheet" href="../../css/boilerplate.css">
	<link rel="stylesheet" href="./utilities.css">
	<title>Utilities - moment ui</title>
</head>

<body>
	<div class="container">
		<header class="nav">
			<div class="nav-left">
				<span class="material-icons sidebar-menu-icon">menu</span>
				<a href="/index.html">
					<span class="brand">
						<span class="brand-title">moment ui</span>
					</span>
				</a>
			</div>
			<div class="nav-right">
				<a href="../../get-started/quick-start.html"><span class="nav-link">Docs</span></a>
				<a href="https://github.com/AbhishekkGautam/moment-ui">
					<img src="../../assets/github-icon.svg" class="nav-icon"></img>
				</a>
			</div>
		</header>
		<div class="doc-page-container">
			<aside class="sidebar" id="sidebar">
				<div class="">
					<span class="sidebar-close-icon material-icons">close</span>
					<h4 class="sidebar-category">Get Started</h4>
					<ul class="sidebar-subcategory" role="list">
						<li>
							<a id="sidebar-links" href="/get-started/quick-start.html">Quick Start</a>
						</li>
					</ul>
				</div>
				<div class="">
					<h4 class="sidebar-category">Components</h4>
					<ul class="sidebar-subcategory" role="list">
						<li>
							<a id="sidebar-links" href="/components/Alert/alert.html">Alert</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Avatar/avatar.html">Avatar</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Badge/badge.html">Badge</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Button/button.html">Button</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Card/card.html">Card</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Grid/grid.html">Grid</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Image/image.html">Image</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Input/input.html">Input</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/List/list.html">List</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Modal/modal.html">Modal</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Navigation/navigation.html">Navigation</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Rating/rating.html">Rating</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Slider/slider.html">Slider</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Toast/toast.html">Toast</a>
						</li>
						<li>
							<a class="active" id="sidebar-links"
								href="/components/Utilities/utilities.html">Utilities</a>
						</li>
					</ul>
				</div>
			</aside>
			<div class="doc-content">
				<h1 class="content-title">Utilities</h1>
				<div class="divider"></div>
				<h2 class="content-category">Headings</h2>
				<div class="example-container utility-preview">
					<h1>Heading-1</h1>
					<h2>Heading-2</h2>
					<h3>Heading-3</h3>
					<h4>Heading-4</h4>
					<h5>Heading-5</h5>
					<h6>Heading-6</h6>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/cqNFUFiX5umy9hdVLc0a"
						style="width: 100%; height: 186px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Paragraphs</h2>
				<div class="example-container utility-preview">
					<p class="para-lg">Paragraph-large</p>
					<p class="para-md">Paragraph-medium</p>
					<p class="paragraph">Paragraph-regular</p>
					<p class="para-sm">Paragraph-small</p>
					<p class="para-xs">Paragraph-extra-small</p>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/3BUzQYjFaJyL65SOkVsk"
						style="width: 100%; height: 167px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Font Sizes</h2>
				<div class="example-container utility-preview">
					<p class="text-xl">Font Size XL</p>
					<p class="text-lg">Font Size L</p>
					<p class="text-md">Font Size Medium</p>
					<p class="text-normal">Font Size Normal</p>
					<p class="text-sm">Font Size Small</p>
					<p class="text-xs">Font Size Extra-Small</p>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/BLJRhn9Hs1wtzItqi5yL"
						style="width: 100%; height: 186px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Font Weights</h2>
				<div class="example-container utility-preview">
					<p class="font-weight-700 text-md">Font Weight 700</p>
					<p class="font-weight-500 text-md">Font Weight 500</p>
					<p class="font-weight-400 text-md">Font Weight 400</p>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/AN6dAim20MrZj9Nxzxkt"
						style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Alignment</h2>
				<div class="utility-align-example">
					<p class="text-left">Align Left</p>
					<p class="text-center">Align Center</p>
					<p class="text-right">Align Right</p>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/BAEIs75Bhs1XIQNqQqVK"
						style="width: 100%; height: 130px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">Text Colors</h2>
				<div class="example-container utility-preview">
					<p class="text-black">Text Black</p>
					<p class="text-gray-100">Text Gray 100</p>
					<p class="text-gray-200">Text Gray 200</p>
					<p class="text-gray-300">Text Gray 300</p>
					<p class="text-white">Text White</p>
					<p class="text-red">Text Red</p>
					<p class="text-orange">Text Orange</p>
					<p class="text-green">Text Green</p>
					<p class="text-blue">Text Blue</p>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/xRrLEMLjPTnhXJxZwm8N"
						style="width: 100%; height: 241px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<div class="back-btn-container">
					<div class="left">
						<a href="/components/Toast/toast.html">
							<span class="material-icons">chevron_left</span>
							Toast
						</a>
					</div>
					<div class="right">
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../javascript/sidebar.js"></script>
</body>

</html>