<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
	<link rel="manifest" href="../../favicon_io/site.webmanifest">
	<link rel="stylesheet" href="../../css/navbar.css">
	<link rel="stylesheet" href="../../css/sidebar.css">
	<link rel="stylesheet" href="../../css/docs-page.css">
	<link rel="stylesheet" href="../../css/boilerplate.css">
	<link rel="stylesheet" href="./badge.css">
	<title>Badge - moment ui</title>
</head>

<body>
	<div class="container">
		<header class="nav">
			<div class="nav-left">
				<span class="material-icons sidebar-menu-icon">menu</span>
				<a href="/index.html">
					<span class="brand">
						<span class="brand-title">moment ui</span>
					</span>
				</a>
			</div>
			<div class="nav-right">
				<a href="../../get-started/quick-start.html"><span class="nav-link">Docs</span></a>
				<a href="https://github.com/AbhishekkGautam/moment-ui">
					<img src="../../assets/github-icon.svg" class="nav-icon"></img>
				</a>
			</div>
		</header>
		<div class="doc-page-container">
			<aside class="sidebar" id="sidebar">
				<div class="">
					<span class="sidebar-close-icon material-icons">close</span>
					<h4 class="sidebar-category">Get Started</h4>
					<ul class="sidebar-subcategory" role="list">
						<li>
							<a id="sidebar-links" href="/get-started/quick-start.html">Quick Start</a>
						</li>

					</ul>
				</div>
				<div class="">
					<h4 class="sidebar-category">Components</h4>
					<ul class="sidebar-subcategory" role="list">
						<li>
							<a id="sidebar-links" href="/components/Alert/alert.html">Alert</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Avatar/avatar.html">Avatar</a>
						</li>
						<li>
							<a class="active" id="sidebar-links" href="/components/Badge/badge.html">Badge</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Button/button.html">Button</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Card/card.html">Card</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Grid/grid.html">Grid</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Image/image.html">Image</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Input/input.html">Input</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/List/list.html">List</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Modal/modal.html">Modal</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Navigation/navigation.html">Navigation</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Rating/rating.html">Rating</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Slider/slider.html">Slider</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Toast/toast.html">Toast</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Utilities/utilities.html">Utilities</a>
						</li>
					</ul>
				</div>
			</aside>
			<div class="doc-content">
				<h1 class="content-title">Badge</h1>
				<p class="content-description">Badges are used to display status information, cart item count,
					notification count etc.
				</p>
				<div class="divider"></div>
				<!-- Badge on Avatars  -->
				<h2 class="content-category">Badge on Avatars</h2>
				<p class="content-category-description">The badge on avatar is available in 4 different statuses - <span
						class="content-highlight">online, offline, Idle & DND. </span>
				</p>
				<div class="example-container avatar-preview">
					<div class="badge">
						<img class="avatar" src="/assets/avatar-img2.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-online"></span>
					</div>
					<div class="badge">
						<img class="avatar" src="/assets/avatar-img4.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-offline"></span>
					</div>
					<div class="badge">
						<img class="avatar" src="/assets/avatar-img5.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-idle"></span>
					</div>
					<div class="badge">
						<img class="avatar" src="/assets/avatar-img1.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-dnd"></span>
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/Gnb258fFCBcmmdqCPf1f"
						style="width: 100%; height: 414px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>

				</div>
				<h2 class="content-category">Badge Sizes</h2>
				<p class="content-category-description">The badge on avatar is available in 5 different sizes - <span
						class="content-highlight">avatar-xl | avatar-lg
						| avatar-md | avatar-sm | avatar-xs</span>
				</p>
				<div class="example-container avatar-preview">
					<div class="badge">
						<img class="avatar avatar-md" src="/assets/avatar-img2.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-online"></span>
					</div>
					<div class="badge">
						<img class="avatar avatar-sm" src="/assets/avatar-img4.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-offline"></span>
					</div>
					<div class="badge">
						<img class="avatar avatar-lg" src="/assets/avatar-img5.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-idle"></span>
					</div>
					<div class="badge">
						<img class="avatar avatar-xl" src="/assets/avatar-img1.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-dnd"></span>
					</div>
					<div class="badge">
						<img class="avatar avatar-xs" src="/assets/avatar-img3.jpeg" alt="gentleman-image" />
						<span class="badge-on-avatar status-online"></span>
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/H651gdzmj3tH8aLd0q0i"
						style="width: 100%; height: 414px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<!-- Square Avatar -->
				<h2 class="content-category">Badge on Icons</h2>
				<p class="content-category-description">The badge on icon has 3 different icons -<span
						class="content-highlight"> shopping bag, notification & message. </span>
				</p>
				<div class="example-container avatar-preview">
					<a class="badge badge-on-icon-sm">
						<i class="material-icons-outlined">
							shopping_bag
						</i>
						<span class="badge-number">4</span>
					</a>
					<a class="badge badge-on-icon-sm">
						<i class="material-icons-outlined">
							favorite_border
						</i>
						<span class="badge-number">12</span>
					</a>
					<a class="badge badge-on-icon-md">
						<i class="material-icons-outlined">
							notifications
						</i>
						<span class="badge-number">2</span>
					</a>
					<a class="badge">
						<i class="material-icons-outlined">
							mail
						</i>
						<span class="badge-number">3</span>
					</a>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/iiojoTGmtR9gTqsYSPCJ"
						style="width: 100%; height: 329px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<div class="back-btn-container">
					<div class="left">
						<a href="/components/Avatar/avatar.html">
							<span class="material-icons">chevron_left</span>
							Avatar
						</a>
					</div>
					<div class="right">
						<a href="/components/Button/button.html">
							Button
							<span class="material-icons">chevron_right</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../../javascript/sidebar.js"></script>
</body>

</html>