<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="../../favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicon_io/favicon-16x16.png">
	<link rel="manifest" href="../../favicon_io/site.webmanifest">
	<link rel="stylesheet" href="../../css/navbar.css">
	<link rel="stylesheet" href="../../css/sidebar.css">
	<link rel="stylesheet" href="../../css/docs-page.css">
	<link rel="stylesheet" href="../../css/boilerplate.css">
	<link rel="stylesheet" href="./alert.css">
	<title>Alert | moment ui</title>
</head>

<body>
	<div class="container">
		<header class="nav">
			<div class="nav-left">
				<span class="material-icons sidebar-menu-icon">menu</span>
				<a href="/index.html">
					<span class="brand">
						<span class="brand-title">moment ui</span>
					</span>
				</a>
			</div>
			<div class="nav-right">
				<a href="../../get-started/quick-start.html"><span class="nav-link">Docs</span></a>
				<a href="https://github.com/AbhishekkGautam/moment-ui">
					<img src="../../assets/github-icon.svg" class="nav-icon"></img>
				</a>
			</div>
		</header>
		<div class="doc-page-container">
			<aside class="sidebar" id="sidebar">
				<div class="">
					<span class="sidebar-close-icon material-icons">close</span>
					<h4 class="sidebar-category">Get Started</h4>
					<ul class="sidebar-subcategory" role="list">
						<li>
							<a id="sidebar-links" href="/get-started/quick-start.html">Quick Start</a>
						</li>
					</ul>
				</div>
				<div class="">
					<h4 class="sidebar-category">Components</h4>
					<ul class="sidebar-subcategory" role="list">
						<li>
							<a class="active" id="sidebar-links" href="/components/Alert/alert.html">Alert</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Avatar/avatar.html">Avatar</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Badge/badge.html">Badge</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Button/button.html">Button</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Card/card.html">Card</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Grid/grid.html">Grid</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Image/image.html">Image</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Input/input.html">Input</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/List/list.html">List</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Modal/modal.html">Modal</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Navigation/navigation.html">Navigation</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Rating/rating.html">Rating</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Slider/slider.html">Slider</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Toast/toast.html">Toast</a>
						</li>
						<li>
							<a id="sidebar-links" href="/components/Utilities/utilities.html">Utilities</a>
						</li>
					</ul>
				</div>
			</aside>
			<div class="doc-content">
				<h1 class="content-title">Alert</h1>
				<p class="content-description">Alerts are used to provide important messages for user actions without
					interrupting the user's flow.
				</p>
				<div class="divider"></div>
				<!-- Simple alert -->
				<h2 class="content-category">Simple Alert</h2>
				<div class="example-container alert-preview">
					<div class="alert alert-primary">
						This is a simple primary alert
					</div>
					<div class="alert alert-success">
						This is a simple success alert
					</div>
					<div class="alert alert-danger">
						This is a simple danger alert
					</div>
					<div class="alert alert-warning">
						This is a simple warning alert
					</div>
					<div class="alert alert-dark">
						This is a simple dark alert
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/7XulcoYeuY7yOFsW66Pp"
						style="width: 100%; height: 180px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>


				</div>
				<!-- Alert with icon -->
				<h2 class="content-category">Alert With An Icon</h2>
				<div class="example-container alert-preview">
					<div class="alert alert-primary">
						<span class="material-icons-outlined">
							info
						</span>
						<span>This is an info alert</span>

					</div>
					<div class="alert alert-success">
						<span class="material-icons-outlined">
							task_alt
						</span>
						<span>This is a success alert</span>

					</div>
					<div class="alert alert-danger">
						<span class="material-icons-outlined">
							error_outline
						</span>

						<span>This is an error alert</span>
					</div>
					<div class="alert alert-warning">
						<span class="material-icons-outlined">
							report_problem
						</span>
						<span>This is a warning alert</span>
					</div>
					<div class="alert alert-dark">
						<span class="material-icons">
							lightbulb_outline
						</span>
						<span>This is a dark alert</span>

					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/rshgVrU7KcjV2Io3fdCR"
						style="width: 100%; height: 393px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<!-- Alert with icon -->
				<h2 class="content-category">Alert With Close Button</h2>
				<div class="example-container alert-preview">
					<div class="alert alert-success alert-close" id="alert-with-close-icon">
						<div class="alert-left">
							<span class="material-icons-outlined">
								task_alt
							</span>
							<span>This is a success alert</span>
						</div>
						<span class="material-icons icon-close">close</span>
					</div>
				</div>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/bteRizcMZIcDXznV95CM"
						style="width: 100%; height: 265px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<h2 class="content-category">JavaScript</h2>
				<div class="code-snippet">
					<iframe src="https://carbon.now.sh/embed/IKAICgHZ4TANZ5DkcTDI"
						style="width: 100%; height: 223px; border:0; transform: scale(1); overflow:hidden;"
						sandbox="allow-scripts allow-same-origin">
					</iframe>
				</div>
				<div class="back-btn-container">
					<div class="left">
						<a href="/get-started/quick-start.html">
							<span class="material-icons">chevron_left</span>
							Quick Start
						</a>
					</div>
					<div class="right">
						<a href="/components/Avatar/">
							Avatar
							<span class="material-icons">chevron_right</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./alert.js"></script>
	<script src="../../javascript/sidebar.js"></script>
</body>

</html>